/* ==========================================================================
   
   Author: Teabag Studios
   
   ========================================================================== */


/* =======================
	Base
	- Define base styles to be inherited at the element level, no classes or id's should be in this section
   ======================= */
	
	body {
		font-family: 'Helvetica Nue', sans-serif;
	}
	
	/* Links */
	
	a {
	
	}

	a:hover {
	
	}
	
	/* Typography & Margins */
	
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0 0 10px 0;
	}
	
	h1 {
	
	}
	
	h2 {
	
	}
	
	p {
		margin: 0 0 10px 0;
	}
	
	ul {
	
	}
	
	li {
	
	}
	
	dl {
	
	}
	
	dt {
	
	}
	
	dd {
	
	}
	
	blockquote {
	
	}
