	/*
	 Block 
	 - Controls sub region styling across the site.
	*/
	

	.block {
		margin:0 0 10px 0;
	}
	
	.block-title {
	}
	
	.block-subtitle {}
	
	.block-content {}
	
	/* Block: Account */
	.block-account {}
	
	/* Block: Currency Switcher */
	.block-currency {}
	.block-currency select {}
	
	/* Block: Layered Navigation */
	.block-layered-nav {}
	.block-layered-nav dt { }
	.block-layered-nav .currently {}
	.block-layered-nav .btn-remove {}
	.block-layered-nav ol {
		margin:0;
		padding: 0;
	}	
	
	/* Block: Cart */
	.block-cart {}
	.block-cart .summary {}
	.block-cart .amount {}
	.block-cart .subtotal {}
	.block-cart .actions .paypal-logo { }
	.block-cart .actions .paypal-logo .paypal-or {}
	
	/* Block: Wishlist */
	.block-wishlist {}
	
	/* Block: Related */
	.block-related {}
	.block-related li { }
	.block-related input.checkbox {}
	.block-related .product {}
	.block-related .product .product-image {}
	.block-related .product .product-details {}
	
	/* Block: Compare Products */
	.block-compare {}
	.block-compare li {}
	
	/* Block: Recently Viewed */
	.block-viewed {}
	
	/* Block: Recently Compared */
	.block-compared {}
	
	/* Block: Poll */
	.block-poll label {}
	.block-poll input.radio { }
	.block-poll .label {}
	.block-poll li { }
	.block-poll .actions {}
	.block-poll .answer {}
	.block-poll .votes {}
	
	/* Block: Tags */
	.block-tags ul,
	.block-tags li { display:inline; }
	
	/* Block: Subscribe */
	.block-subscribe {}
	
	/* Block: Reorder */
	.block-reorder {}
	.block-reorder li {}
	.block-reorder input.checkbox {}
	.block-reorder .product-name {}
	
	/* Block: Banner */
	.block-banner {}
	.block-banner .block-content {}
	
	/* Block: Login */
	.block-login label {}
	.block-login input.input-text {}
	
	/* Block: Checkout Progress */
	
	.block-progress {}
	.block-progress dt {}
	
	.block-progress dt.complete,
	.block-progress dd.complete {}	